:root {
   --main-color: #1f1f1f;
   --line-color: #313131;
   --text-color: #ffffff;
   --sec-text-color: #a5a5a5;
   --accent-color: #fd8585;
   --sec-accent-color: #c45353;
   --background-color: #858585;
   --shadow-color: #ffffff1e;
}

* {
   margin: 0;
   padding: 0;
}

html {
   font-family: Poppins, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
   background-color: var(--main-color);
   display: flex;
   flex-direction: column;
   color: var(--text-color);
   justify-content: center;
   align-items: center;
   height: 100dvh;
}

body.dark-mode {
   --main-color: #e4e4e4;
   --line-color: #b8b8b8;
   --text-color: #1a1a1a;
   --sec-text-color: #606060;
   --background-color: #a5a5a5;
   --shadow-color: #0000006c;
}

body.blue-accent {
   --accent-color: #708dff;
   --sec-accent-color: #4361c5;
}

main {
   display: flex;
   flex-direction: column;
   justify-content: center;
   gap: 10px;
}

.about {
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 400px;
   border: 2px solid var(--line-color);
   height: 200px;
   padding: 30px;
   border-radius: 20px 20px 7px 7px;
   box-shadow: 0 0 10px var(--shadow-color);
}

.about>h1 {
   line-height: 3em;
}

button {
   border: none;
   border-radius: 7px 7px 20px 20px;
   background-color: var(--accent-color);
   border: 2px solid var(--sec-accent-color);
   font-size: min(2rem, 1rem);
   font-weight: 700;
   display: flex;
   justify-content: center;
   align-items: center;
   height: 40px;
   width: min(464px, 100%);
   box-shadow: 0 0 10px var(--shadow-color);
   padding: 50px;
   transition: backgrund-color 0.4s;
   transition: font-size 0.4s;
}

a>button,
a {
   text-decoration: none;
   color: var(--text-color);
   text-decoration: none;
   width: 100%;
   cursor: pointer;
   user-select: none;
}

.action-button.clicked {
   background-color: var(--sec-accent-color);
   font-size: 1em;
}

@media screen and (max-width: 760px) {
   .action-button {
      box-shadow: none;
      width: 100dvw;
      border: none;
      border-radius: 0;
   }

   .about, main {
      box-sizing: border-box;
      box-shadow: none;
      width: 100dvw;
      border: none;
   }

   .about {
      padding: 30px;
      margin-bottom: 30px;
   }
}