:root {
   --main-color: #1f1f1f;
   --line-color: #313131;
   --text-color: #ffffff;
   --sec-text-color: #a5a5a5;
   --accent-color: #ff6f6f;
   --sec-accent-color: #c33d3d;
   --background-color: #858585;
   --shadow-color: #ffffff1e;
}

* {
   margin: 0;
   padding: 0;
}

html {
   font-family: Poppins, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   box-sizing: border-box;
}

body {
   background-color: var(--main-color);
   display: grid;
   grid-template-columns: auto 1fr;
   position: relative;
}

body.dark-mode {
   --main-color: #e4e4e4;
   --line-color: #b8b8b8;
   --text-color: #1a1a1a;
   --sec-text-color: #606060;
   --accent-color: #fd8585;
   --sec-accent-color: #c45353;
   --background-color: #a5a5a5;
   --shadow-color: #0000006c;
}

a {
   text-decoration: none;
}

.sidebar {
   height: 100dvh;
   width: 250px;
   border-right: 2px solid var(--line-color);
   position: sticky;
   top: 0;
}

.sidebar>h3 {
   color: var(--text-color);
   text-align: center;
}

.sidebar>ul {
   height: 100%;
   padding: 0 10px;
}

.side-content li:first-child {
   margin-top: 70px;
}

.logo {
   position: absolute;
   top: 10px;
   left: 0;
   color: var(--text-color);
   font-size: 1.3rem;
   display: flex;
   align-items: center;
   height: 40px;
   padding: 3px 25px 10px 25px;
}

.sidebar .open-menu {
   color: var(--text-color);
   display: none;
}

.button {
   border-radius: 9px;
   font-weight: 500;
   width: 100%;
   height: 60px;
   display: flex;
   align-items: center;
   border: none;
   background: none;
   color: var(--text-color);
   font-size: 1.1rem;
   padding: 15px;
}

.button>p {
   margin-left: 10px;
}

.sub-itens,
.sidebar>ul {
   list-style: none;
   display: flex;
   flex-direction: column;
   gap: 4px;
}

.sub-itens>li>a {
   color: var(--sec-text-color);
}

.button:hover {
   background-color: var(--background-color);
   transition: 0.5s;
}

@keyframes spin {
   0% {
      transform: rotateX(0deg);
   }

   100% {
      transform: rotateX(180deg);
   }
}

@keyframes spin-back {
   0% {
      transform: rotateX(180deg);
   }

   100% {
      transform: rotateX(0deg);
   }
}

main {
   display: flex;
   justify-content: center;
   flex-direction: column;
   align-items: center;
}

.settings-menu {
   display: grid;
   grid-template-columns: 4fr 70px;
   grid-template-rows: 200PX 0;
   grid-auto-rows: auto;
   padding: 40px;
   width: 800px;
   height: 600px;
   align-items: start;
   justify-content: start;
   background-color: var(--main-color);
   border: 2px solid var(--line-color);
   border-radius: 25px;
   gap: 20px;
   position: absolute;
   z-index: 3;
   top: -1000px;
   transition: top 0.4s ease-in-out;
   box-shadow: 0 0 40px var(--shadow-color);
}

.settings-menu.show-settings {
   top: 15vh;
}

.settings-menu>h1 {
   color: var(--text-color);
   grid-column: 1/3;
   text-align: center;
   font-size: 40px;
   border-bottom: 2px solid var(--line-color);
}

.text-holder {
   text-transform: capitalize;
   display: flex;
   justify-content: start;
   flex-direction: column;
   width: 100%;
   height: 60%;
}

.text-holder>p {
   color: var(--sec-text-color);
}

.text-holder>h1 {
   color: var(--text-color);
}

.cb {
   justify-self: center;
   appearance: none;
   -webkit-appearance: none;
   border: 2px solid var(--accent-color);
   height: 70px;
   width: 70px;
   border-radius: 10px;
   cursor: pointer;
   padding: 10px;
}

.cb::after {
   color: white;
   font-weight: 900;
   font-size: 3rem;
   margin: auto;
   font-family: "Font Awesome 5 Free";
   content: "\f00c";
   display: flex;
   align-items: center;
   justify-content: center;
   display: none;
}

.cb:checked::after {
   display: flex;
}

.cb:checked {
   background-color: var(--accent-color);
   border: 2px solid var(--accent-color);
}

#other::after {
   display: none;
}

#other:checked::after {
   display: flex;
}

#other2::after {
   display: none;
}

#other2:checked::after {
   display: flex;
}

.settings-menu:nth-child(3) {
   grid-column: 1;
}

.overlay {
   position: absolute;
   z-index: -3;
   height: 100%;
   width: 100dvw;
   top: 0;
   left: 0;
   background-color: #00000000;
}

.overlay.show-settings {
   display: block;
   z-index: 1;
   background-color: #00000075;
   transition: background-color 0.4s;
}

.settings-menu>h1 {

   line-height: 4em;
}

.settings-menu>p {
   grid-column: 1;
   color: var(--sec-text-color);
}

.list-container {
   display: flex;
   gap: 10px;
   flex-direction: column;
   border-radius: 30px;
   color: var(--text-color);
   text-align: center;
}

.list-container>h3 {
   margin-bottom: 20px;
}

.container {
   bottom: 10%;
   width: 400px;
   height: auto;
   padding: 20px 40px;
   background-color: var(--main-color);
   border: 2px solid var(--line-color);
   border-radius: 30px;
   display: flex;
   flex-direction: column;
   justify-content: end;
   align-items: center;
   gap: 20px;
   color: var(--text-color);
   box-shadow: 0 0 10px var(--shadow-color);
}

.text-adder {
   width: 90%;
   padding: 20px;
   background: none;
   border: none;
   border-bottom: 2px solid var(--accent-color);
   font-size: 18px;
   color: var(--text-color);
   transition: 200ms ease-in-out;
}

.text-adder:focus {
   outline: none;
   width: 100%;
}

.action-button {
   width: 444px;
   height: auto;
   padding: 50px 20px;
   background-color: var(--accent-color);
   border: 2px solid var(--sec-accent-color);
   border-radius: 7px 7px 17px 17px;
   color: var(--text-color);
   font-size: 50px;
   font-weight: 700;
   transition: background-color 0.4s;
   transition: font-size 0.4s;
   box-shadow: 0 0 10px var(--shadow-color);
}

.action-button.clicked {
   background-color: var(--sec-accent-color);
   font-size: 48px;
}

.task-holder {
   box-shadow: 0 0 10px var(--shadow-color);
   border: 2px solid var(--line-color);
   height: 200px;
   overflow-y: scroll;
   border-radius: 30px;
   margin-bottom: 40px;
   padding: 30px;
   font: inherit;
   color: var(--text-color);
   scrollbar-width: none;
}

.task-holder::-webkit-scrollbar {
   display: none;
}

.task-item {
   display: flex;
   align-items: center;
   justify-content: start;
   gap: 20px;
   margin-top: 20px;
}

.task-checkbox {
   appearance: none;
   width: 30px;
   height: 30px;
   border: 2px solid var(--accent-color);
   border-radius: 50px;
   display: flex;
   align-items: center;
   justify-content: center;
}

.task-checkbox::after {
   color: white;
   font-weight: 900;
   font-size: 15px;
   margin: auto;
   font-family: "Font Awesome 5 Free";
   content: "\f00c";
   display: flex;
   align-items: center;
   justify-content: center;
   display: none;
   align-items: center;
}

.task-checkbox:checked::after {
   display: flex;
}

.task-checkbox:checked {
   background-color: var(--accent-color);
   border: 2px solid var(--accent-color);
}

.task-holder>h3 {
   text-align: center;
   padding-bottom: 1rem;
   border-bottom: 2px solid var(--line-color);
}

.task-item>span,
.task-checkbox {
   cursor: pointer;
}

.task-item>p.completed {
   text-decoration: line-through;
   color: var(--sec-text-color);
   font-style: italic;
}

.task-deleter {
   color: var(--accent-color);
   ;
   margin-left: auto;
   scale: 1.3;
}

li span {
   user-select: none;
}

@media screen and (max-width: 760px) {

   body {
      grid-template-columns: 1fr;
   }

   .sidebar span.open-menu {
      display: flex;
      user-select: none;
      position: static;
      justify-content: center;
      align-items: center;
      width: 50px;
      height: 50px;
      grid-column: 3;
      font-size: 3rem;
   }

   .settings-menu {
      box-sizing: border-box;
      border-radius: 0;
      width: 100dvw;
      height: 80dvh;
      
   }

   .overlay {
      width: 100dvw;
      height: 100dvh;
      z-index: -2;
   }

   .list-container {
      width: 100dvw;
      border-radius: 0;
   }

   .task-holder {
      box-sizing: border-box;
      height: 300px;
      box-shadow: none;
      border-radius: 0;
      width: 100dvw;
   }
   
   .container {
      box-sizing: border-box;
      box-shadow: none;
      border-radius: 0;
      width: 100dvw;
   }

   .action-button {
      width: 100dvw;
      border-radius: 0;
      border: none;
      box-shadow: none;
   }

   .sidebar {
      box-sizing: border-box;
      padding: 0 30px;
      position: fixed;
      top: 0;
      flex-direction: row;
      display: grid;
      grid-template-columns: 220px 1fr 50px;
      width: 100dvw;
      height: 80px;
      justify-content: space-around;
      align-items: center;
      background-color: var(--main-color);
      z-index: 1;
   }

   .sidebar>ul {
      top: 80px;
      box-sizing: border-box;
      position: fixed;
      overflow: hidden;
      width: 100%;
      padding: 0;
      height: 0px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: stretch;
      background-color: var(--main-color);
      transition: height 600ms;
      width: 100dvw;
      box-shadow: 0 5px 7px var(--shadow-color);
   }
   
   .button:hover {
      background-color: var(--main-color);
   }
   
   .sidebar>ul>.list-button:nth-child(1) {
      display: flex;
      justify-content: center;
      text-align: center;
      margin-top: 80px;
      justify-content: center;
      padding: 40px 0;
   }
   
   .button:hover,
   .list-button:hover {
      background-color: var(--background-color);
   }
   
   .list-button {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      margin: 0;
      text-align: center;
      transition: 0s;
      padding: 40px 0;
      gap: 0;
   }
   
   .task-item>span {
      user-select: none;
   }

   .side-content button {
      font-size: 2rem;
   }
   
   .sidebar>ul.show-menu {
      height: 400px;
   }

   .logo {
      display: flex;
      position: static;
      padding: 0;
      text-wrap: nowrap;
      width: 220px;

   }

   .button {
      width: auto;
   }

   main {
      margin-top: 15%;
   }
}

@media screen and (max-width: 500px) {
   .sidebar {
      padding: 0 10px;
   }
}