:root {
   --main-color: #1f1f1f;
   --line-color: #313131;
   --text-color: #ffffff;
   --sec-text-color: #a5a5a5;
   --accent-color: #ff6f6f;
   --sec-accent-color: #c33d3d;
   --background-color: #858585;
   --shadow-color: #ffffff1e;
}

* {
   margin: 0;
   padding: 0;
}

html {
   font-family: Poppins, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
   background-color: var(--main-color);
   display: grid;
   grid-template-columns: auto 1fr;
   position: relative;
}

body.dark-mode {
   --main-color: #e4e4e4;
   --line-color: #b8b8b8;
   --text-color: #1a1a1a;
   --sec-text-color: #606060;
   --accent-color: #fd8585;
   --sec-accent-color: #c45353;
   --background-color: #a5a5a5;
   --shadow-color: #0000006c;
}

a {
   text-decoration: none;
}

.sidebar {
   height: 97.9vh;
   width: 250px;
   border-right: 2px solid var(--line-color);
   position: sticky;
   padding: 10px 0;
   top: 0;
}

.sidebar>ul {
   height: 98dvh;
   padding: 0 10px;
}

.logo {
   color: var(--text-color);
   border-bottom: 1px solid var(--line-color);
   font-size: 16px;
   display: flex;
   align-items: center;
   height: 40px;
   padding: 0 15px;
}

.drop-button,
.no-arrow-button {
   border-radius: 9px;
   font-weight: 500;
   width: 100%;
   height: 60px;
   display: flex;
   align-items: center;
   border: none;
   background: none;
   color: var(--text-color);
   font-size: 1.1rem;
   padding: 15px;
}

.drop-button>p,
.no-arrow-button>p {
   margin-left: 10px;
}

.list-button:last-child {
   margin-top: auto;
}

.drop-button>span:last-child {
   margin-left: auto;
}

.sub-itens,
.sidebar>ul,
.list-button {
   list-style: none;
   display: flex;
   flex-direction: column;
   gap: 4px;
}

.item {
   border-radius: 9px;
   font-weight: 500;
   display: flex;
   align-items: center;
   height: 40px;
   padding: 15px;
}

.sub-itens>li>a {
   color: var(--sec-text-color);
}

.item:hover,
.drop-button:hover,
.no-arrow-button:hover {
   background-color: var(--background-color);
   transition: 0.5s;
}

.item:hover a {

   color: var(--text-color);
   transition: 0.5s;
}

.list-button>ul {
   height: 0;
   overflow: hidden;
   transition: 0.5s;
}

.list-button>ul.show {
   height: 200px;
}

.arrows.hide {
   animation-name: spin-back;
   animation-duration: 0.5s;

}

.arrows.show {
   animation-name: spin;
   animation-duration: 0.5s;
   animation-fill-mode: forwards;
}

@keyframes spin {
   0% {
      transform: rotateX(0deg);
   }

   100% {
      transform: rotateX(180deg);
   }
}

@keyframes spin-back {
   0% {
      transform: rotateX(180deg);
   }

   100% {
      transform: rotateX(0deg);
   }
}

main {
   display: flex;
   justify-content: center;
   flex-direction: column;
   align-items: center;
}

.settings-menu {
   display: grid;
   grid-template-columns: 4fr 70px;
   grid-template-rows: 200PX 0;
   grid-auto-rows: auto;
   padding: 40px;
   width: 800px;
   height: 600px;
   align-items: start;
   justify-content: start;
   background-color: var(--main-color);
   border: 2px solid var(--line-color);
   border-radius: 25px;
   gap: 20px;
   position: absolute;
   z-index: 3;
   top: -1000px;
   transition: top 0.4s ease-in-out;
   box-shadow: 0 0 40px var(--shadow-color);
}

.settings-menu.show-settings {
   top: 15vh;
}

.settings-menu>h1 {
   color: var(--text-color);
   grid-column: 1/3;
   text-align: center;
   font-size: 40px;
   border-bottom: 2px solid var(--line-color);
}

.text-holder {
   text-transform: capitalize;
   display: flex;
   justify-content: start;
   flex-direction: column;
   width: 100%;
   height: 60%;
}

.text-holder>p {
   color: var(--sec-text-color);
}

.text-holder>h1 {
   color: var(--text-color);
}

.cb {
   justify-self: center;
   appearance: none;
   -webkit-appearance: none;
   border: 2px solid var(--accent-color);
   height: 70px;
   width: 70px;
   border-radius: 10px;
   cursor: pointer;
   padding: 10px;
}

.cb::after {
   color: white;
   font-weight: 900;
   font-size: 3rem;
   margin: auto;
   font-family: "Font Awesome 5 Free";
   content: "\f00c";
   display: flex;
   align-items: center;
   justify-content: center;
   display: none;
}

.cb:checked::after {
   display: flex;
}

.cb:checked {
   background-color: var(--accent-color);
   border: 2px solid var(--accent-color);
}

#other::after {
   display: none;
}

#other:checked::after {
   display: flex;
}

#other2::after {
   display: none;
}

#other2:checked::after {
   display: flex;
}

.settings-menu:nth-child(3) {
   grid-column: 1;
}

.overlay {
   position: absolute;
   z-index: -3;
   height: 100%;
   width: 100dvw;
   top: 0;
   left: 0;
   background-color: #00000000;
}

.overlay.show-settings {
   display: block;
   z-index: 1;
   background-color: #00000075;
   transition: background-color 0.4s;
}

.settings-menu>h1 {

   line-height: 4em;
}

.settings-menu>p {
   grid-column: 1;
   color: var(--sec-text-color);
}

.list-container {
   display: flex;
   gap: 10px;
   flex-direction: column;
   border-radius: 30px;
}

.container {
   width: 400px;
   height: 150px;
   padding: 20px;
   background-color: var(--main-color);
   border: 2px solid var(--line-color);
   border-radius: 30px 30px 10px 10px;
   display: flex;
   flex-direction: column;
   justify-content: end;
   align-items: center;
   gap: 20px;
   color: var(--text-color);
   box-shadow: 0 0 10px var(--shadow-color);
}

.text-adder {
   width: 90%;
   padding: 20px;
   background: none;
   border: none;
   border-bottom: 2px solid var(--accent-color);
   font-size: 18px;
   color: var(--text-color);
}

.text-adder:focus {
   outline: none;
}

.action-button {
   width: 444px;
   height: auto;
   padding: 50px 20px;
   background-color: var(--accent-color);
   border: 2px solid var(--sec-accent-color);
   border-radius: 10px 10px 30px 30px;
   color: var(--text-color);
   font-size: 50px;
   font-weight: 700;
   transition: background-color 0.4s;
   transition: font-size 0.4s;
   box-shadow: 0 0 10px var(--shadow-color);
}

.action-button.clicked {
   background-color: var(--sec-accent-color);
   font-size: 48px;
}